
        *{
            box-sizing: border-box;
        }
        
        
        .card:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 15rem;
            height: 15rem;
            background-color: red;
            clip-path: polygon(0 0, 100% 0, 0 100%);
        
        }
        .card:after{
             content: "winter promo";
             font-weight: 700;
             color: white;
             width: 3rem;
             position: absolute;
             top: 2.5rem;
             left: 2rem;
             transform: rotate(-45deg);
        
        }
        .row::after{
            float:left;
            display:table;
            clear:both;
        }
        
        body{
            font-size: 1.6rem;
            line-height: 1.6;
            color: #333;
            }
        /*typography*/
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100,300,700&family");
        html{
            font-size: 62.5%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        .heading-1{
            font-size: 4.5rem;
            font-weight: 700;
            color: gray;
        }
        
        .heading-2{
            font-size: 4rem;
            font-weight: 700;
            color:indigo;
            background-color: green;
            padding: 0.5rem 2.5rem;
            border-radius: 1rem;
            margin-left: 1.5rem;
        }
        
        .heading-3{
            font-size: 2.6rem;
            font-weight: 700;
            color: white;
        }
        .row-1,
        .row-2,
        .row-3,
        .row-4,
        .row-5{
            grid-column: 2/ span 1;
        }
        .row-1{
            
            grid-row: 3 / span 1;
            background-color:white;
            padding: 5rem;
            margin: 1.5rem;
            
        }
        
        .row-2{
            grid-row: 4 / span 1;
            background-color: white;
        }
        .row-3{
            
            grid-row: 5 / span 1;
            background-color: white;
        }
        .row-4{
            
            grid-row: 6 / span 1;
            background-color: #fff;
        }
        .row-5{
            
            grid-row: 7 / span 1;
            background-color:rgb(252, 252, 252);
            width: 100%;
        }
        
        .footer{
            grid-row: 8 / span 1;
            grid-column: 1 / -1;
            background-color: white;
            width:132rem;
            border-top: 0.5px solid gray;
            height:2rem;
        }
        
        footer_content{
            width: 132rem;
            text-align: center;
            margin-left: 50rem;
        }
        footer_lik{
            color: indigo;
        
        }
        footer_items{
            width: 135rem;
            list-style: none;
            display: flex;
            justify-content: center;
        }
        
        footer_item{
            margin: 0 1rem;
        }
        
        footer_text_text-version{
            font-size: 1.2rem;
            font-weight: 700;
            color: grey;
            padding: 1.5rem;
            width: 5rem;
            height: 3rem;
            border-radius: 1.6rem;
            background-color: grey;
            transform: translateX(35rem);
            margin: 1.6rem;
        }
        
        /*layouts*/
        .layout{
            display: grid;
        
            grid-template-rows:[navbar-end hero-start] 25rem [hero-end content-start] repeat(
                5,
                35rem
                )
            [content-end footer-start] 12rem [footer-end];
            
            grid-template-columns: 1fr 80vw 1fr;
            grid-row-gap: 1.6rem;
            gap: 1.6rem;
        
        }
        .navbar{
            width:132rem;
            height: 20%;
            grid-row: 1/ span 1;
            grid-column: 1/-1;
            /*background-color:white;*/
        }
        
        .hero{
            width:135rem;
            grid-row: 2/ span 1;
            grid-column: 1 / -1;
            background-color: blue;
            background-image: linear-gradient(
                to right bottom), 
                blue,indigo;
        
        }
        
        .heading-2{
            font-size: 4rem;
            color: blue;
            background-color:white;
            padding: 0.5rem 2rem;
            margin: 0.5rem;
            border-radius: 8rem;
        }
        
        .her_text{
            margin-left: 2rem;
            font-weight: 300;
            color: white;
        }
        
        .col-1_2{
            /*min-height: 15rem;*/
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            border-radius: 10px;
        }
        
        .container{
            width: 60vw;
            height: 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            border-top: 0.5px solid grey;
        }
        
        .card{
            position: relative;
            width: 100%;
            height: 100%;
        
            background-color: darkblue;
            box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.16);
            border-radius: 1.6rem;
            overflow: hidden;
        }
        .card_img{
            width: 12rem;
            height: 15rem;
        }
        
        .card_front{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        
        .card_content{
            display: flex;
        }
        
        .card_pricing{
            color: #fff;
        }
        
        .card_price--now{
            font-size: 4.5rem;
            font-weight: 700;
            margin: -10.5rem 0;
        }
        
        .card_price{
            font-size: 2rem;
            text-decoration: line-through;
            text-decoration-color: red;
        }
        .card_price--term2{
            color: #fff;
        }
        
        .card_price--now2{
            font-size: 4.5rem;
            font-weight: 700;
            margin: -10.5rem 0;
        }
        
        .card_price2{
            font-size: 2rem;
            text-decoration-color: blue;
        }
        .navbar-links{
            position: relative;
            left:70%;
            top: -50%
        
        }
        .navbar_user{
            position: relative;
            left:18%;
            top: -20%;
        }
        
        .her_img{
            max-width: 100%;
            height: 25rem;
        }
        .card2{
            background-color: white;
            color: blue;
            width: 100rem;
            border-radius: 1.2rem;
        }
        .card3{
            background-color: white;
            color: blue;
            width: 100rem;
            border-radius: 1.2rem;
        }
        .card7{
            color: white;
            background-color: blue;
            width: 100rem;
            border-radius: 1.2rem;
        }

        .card8{
            color: blue;
            width: 100rem;
            border-radius: 1.2rem;
        }
        .card9{
            color: blue;
            width: 100rem;
            border-radius: 1.2rem;
        }
        .card10{
            color: blue;
            width: 100rem;
            border-radius: 1.2rem;
        }
        .card11{
            color: blue;
            background-color: #fff;
            border-radius: 1.2rem;
        }
        .card12{
            color: blue;
            background-color: #fff;
            border-radius: 1.2rem;
        }
       
        .card13{
            color: blue;
            background-color: #fff;
            border-radius: 1.2rem;
        }