/*s* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
}
header {
  background-color: aqua;
  height: 5rem;

  margin-left: 23rem;
  position: absolute;
}

.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 3rem;
  font-weight: bolder;
  top: 1rem;
  width: 35%;
}

.container0 {
  height: 26rem;
  background-image: url(../img/reviews-3.png);
}

form {
  background-color: rgb(100, 97, 97);
  border: rgb(170, 130, 130);
  box-sizing: 8rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

#dest-label {
  font-size: 2rem;
}

#duration-label {
  font-size: 2rem;
}

#traveller-label {
  font-size: 2rem;
}
.find {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: olive;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
.container1 {
  //width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  color: #333;
}
.Access {
  padding-left: 0px;
  text-align: center;
  list-style: none;
}
.col-1 {
  width: calc((100% - 2 * 1rem) / 3);
}

.row {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
*/
.container2 {
  height: 20rem;
  display: flex;
}
/*.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 15rem;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.card:after {
  content: "winter promo";
  font-weight: 700;
  color: white;
  width: 3rem;
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  transform: rotate(-45deg);
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}
/*typography*
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100,300,700&family");
html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading-1{
    font-size: 4.5rem;
    font-weight: 700;
    color: gray;
}

.heading-2{
    font-size: 4rem;
    font-weight: 700;
    color:indigo;
    background-color: green;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
    margin-left: 1.5rem;
}

.heading-3{
    font-size: 2.6rem;
    font-weight: 700;
    color: white;
}
.row-1,
.row-2,
.row-3,
.row-4,
.row-5{
    grid-column: 2/ span 1;
}
.row-1{
    grid-row: 3 / span 1;
    background-color:lightblue;
    
}

.row-2{
    grid-row: 4 / span 1;
    background-color: white;
}
.row-3{
    
    grid-row: 5 / span 1;
    background-color: green;
}
.row-4{
    
    grid-row: 6 / span 1;
    background-color: yellow;
}
.row-5{
    
    grid-row: 7 / span 1;
    background-color:red;
}

.footer{
    grid-row: 8 / span 1;
    grid-column: 1 / -1;
    background-color: white;

    border-top: 0.5px solid gray;

}

footer_content{
    width: 50%;
    text-align: center;
    margin-left: 30rem;
}
footer_lik{
    color: indigo;

}
footer_items{
    list-style: none;
    display: flex;
    justify-content: center;
}

footer_item{
    margin: 0 1rem;
}

footer_text_text-version{
    font-size: 1.2rem;
    font-weight: 700;
    color: grey;
    padding: 1.5rem;
    width: 5rem;
    height: 3rem;
    border-radius: 1.6rem;
    background-color: grey;
    transform: translateX(35rem);
    margin: 1.6rem;
}

/*layouts*
.layout{
    display: grid;

    grid-template-rows:[navbar-end hero-start] 25rem [hero-end content-start] repeat(
        5,
        35rem
        )
    [content-end footer-start] 12rem [footer-end];
    
    grid-template-columns: 1fr 80vw 1fr;
    grid-row-gap: 1.6rem;
    gap: 1.6rem;

}
.navbar{
    grid-row: 1/ span 1;
    grid-column: 1/-1;
    /*background-color:white;*
}

.hero{
    grid-row: 2/ span 1;
    grid-column: 1 / -1;
    background-color: blue;
    background-image: linear-gradient(
        to right bottom), 
        blue,indigo;

}

.heading-2{
    font-size: 4rem;
    color: blue;
    background-color:white;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border-radius: 8rem;
}

.her_text{
    margin-left: 2rem;
    font-weight: 300;
    color: white;
}

.col-1_2{
    /*min-height: 15rem;*
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 10px;
}
.container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid grey;
}

.card{
    position: relative;
    width: 100%;
    height: 100%;

    background-color: darkblue;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.16);
    border-radius: 1.6rem;
    overflow: hidden;
}
.card_img{
    width: 12rem;
    height: 15rem;
}

.card_front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card_content{
    display: flex;
}

.card_pricing{
    color: #fff;
}

.card_price--now{
    font-size: 4.5rem;
    font-weight: 700;
    margin: -10.5rem 0;
}

.card_price{
    font-size: 2rem;
    text-decoration: line-through;
    text-decoration-color: red;
}

.navbar-links{
    position: relative;
    left:70%;
    top: -50%

}
.navbar_user{
    position: relative;
    left:18%;
    top: -20%;
}

.her_img{
    max-width: 100%;
    height: 25rem;
}*/
