*{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
}

a{
    list-style: none;

    padding:8px;
    color:white;
    font-size: 16px;
   
}



li{
    /*display:inline;*/
    float:left;
    padding:20px;
    list-style: none;
    text-decoration: none;
}
.peer_img{
    width:100%;
   /* height:10;*/
}

.side{
    background-color: darkgrey;
    float: right;
    text-decoration:none;
}
.navbar{
    
    background-color: orangered;
    width: 80%;
    height: 80px;
}
.main{
    height: 50%;
    width: 100%;
}

