* {
  box-sizing: border-box;
}

*,
*::before *::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
}

/* .container {
    width: 60vw;
    height: auto;
    margin: 0 auto;
  }*/

header {
  background-image: url(../img/reviews-1.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: grey;
  line-height: 75px;
  padding: 0px 100px;
  z-index: 1;
}

nav .logo {
  font-size: 30px;
  font-weight: bold;
  background-color: green;
  display: block;
}
nav .logo p {
  float: left;
  color: white;
}

.navbar ul li {
  display: inline-block;
  float: right;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 32px;
  display: block;
}

.navbar ul li a:hover {
  background-color: rgb(94, 78, 78);
}

footer {
  background-color: grey;
}

footer ul li a {
  text-decoration: none;
  color: white;
}
